{% extends 'tour/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
{% load static %}
    <h2 class="text-center mt-5">Create an Account</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
            <p class="mt-3 text-center">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
        </div>
    </div>
{% endblock %}
